<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- boxicons icon -->
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 加載Google平台庫 -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- 指定應用的客戶端ID -->
    <meta name="google-signin-client_id" content="1001257604384-h4q4qkc8cbp6ggqsp4nhsjqmclnq302p.apps.googleusercontent.com">
    <title>Todos | yubo</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1><span>My</span>Todos</h1>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <form action="/create-item" method="POST">
            <div class="input-container">
                <input  autocomplete="off" placeholder="輸入代辦事項..." name='item' id="input_create" type="text" style="flex: 1;">
                <button class="btn">新增</button>
            </div>
        </form>

        <!-- tab area -->
        <nav>
            <ul class="tab-container" id="tab">
                <li class="active" id="all">all</li>
                <li id="active">active</li>
                <li id="complete">complete</li>
            </ul>
        </nav>
        <!-- //tab area -->

        <!-- list area -->
        <ul class="taskList-container" id="task-list">
            <% for (list in todoList) { %>
            <li>
                <% let checked = todoList[list].completed ? "checked" : " " %>
                <input data-id="<%= list %>" class="completed-checkbox" type="checkbox" <%= checked %> />
                <span data-id="<%= list %>" class="item-text">
                    <%= todoList[list].item %>
                </span>
                <box-icon name='trash' data-id="<%= list %>" class="delete-me" type='solid' color='rgba(0,0,0,0.2)'></box-icon>
            </li>
            <% } %>
        </ul>
        <!-- //list area -->     
    </div>
        
    <script type="text/javascript">
        // handle task bar 
        let tab = document.getElementById('tab');
        tab.addEventListener('click', handleTaskStat);
        function handleTaskStat(e) {
            console.log(e.target.getAttribute('id'));
            let tab = document.getElementById('tab').children;
            let taskList = document.getElementById('task-list').children;
            // 把所有 tab 裡 li 元素移除 active 類別
            for (each in tab) {
                tab[each].className = "";
            }
            // 被點擊的元素添加 active 類別，和顯示相應的任務
            // 顯示所有的任務
            if(e.target.getAttribute('id') == 'all') {
                e.target.classList.add('active');
                for (list in taskList) {
                    taskList[list].style.display = 'flex';
                }
            }
            // 顯示完成的任務
            if(e.target.getAttribute('id') == 'complete') {
                e.target.classList.add('active');
                for (list in taskList) {
                    if(taskList[list].children[0].checked){
                        taskList[list].style.display = 'flex';
                    }else{
                        taskList[list].style.display = 'none';
                    }
                }
            } 
            // 顯示進行中任務
            if(e.target.getAttribute('id') == 'active') {
                e.target.classList.add('active');
                for (list in taskList) {
                    if(!taskList[list].children[0].checked){
                        taskList[list].style.display = 'flex';
                    }else{
                        taskList[list].style.display = 'none';
                    }
                }
            }
        }
        
        // 如果新增項目的value不為空白，新增項目文本框就一直展開
        let input_create = document.getElementById('input_create'); 
        input_create.onblur = function () {
            if(input_create.value != '') {
                input_create.style.width = "80%";
            }else {
                input_create.style.width = "";
            }
        }
    </script>
    <script src="/browser.js"></script>
</body>

</html>